#{include file="../Header.html"}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    #{include file="../Toolbar.html"}
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Tables Widget 9-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <div class="card-toolbar">
                        <button class="btn btn-sm btn-light-primary btn-app-create me-3"><i class="fa-duotone fa-regular fa-cloud-arrow-up"></i>
                            上传卡密
                        </button>
                        <button class="btn btn-sm btn-light-danger btn-app-del me-3"><i class="fa-duotone fa-regular fa-trash-can"></i> 移除选中卡密
                        </button>
                        <button class="btn btn-sm btn-light-dark btn-app-lock me-3"><i class="fa-duotone fa-regular fa-lock-hashtag"></i> 锁定选中卡密
                        </button>
                        <button class="btn btn-sm btn-light-success btn-app-unlock me-3"><i class="fa-duotone fa-regular fa-unlock-keyhole"></i>
                            解锁选中卡密
                        </button>
                        <button class="btn btn-sm btn-light-success btn-app-sell me-3"><i class="fa-duotone fa-regular fa-arrows-spin"></i>
                            将卡密更改为已出售
                        </button>
                        <button class="btn btn-sm btn-light-primary btn-app-export me-3"><i class="fa-duotone fa-regular fa-down-to-line"></i>
                            导出筛选卡密
                        </button>
                    </div>
                </div>
                <!--end::Header-->

                <div class="card-body py-3">
                    <table id="card-table"></table>
                </div>
            </div>

            <!--end::Tables Widget 9-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
#{ready("/assets/admin/controller/trade/card.js")}
#{include file="../Footer.html"}