<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>请稍等,正在发起请求..</title>
</head>
<body>
请稍等,正在为您下单...
<form action="#{$url}" method="post" id="request">
    #{foreach $data as $key=>$val}
    <input type="text" name="#{$key}" value="#{$val}" hidden>
    #{/foreach}
</form>
<script>
    document.getElementById("request").submit();
</script>
</body>
</html>