#{include file="../Header.html"}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    #{include file="../Toolbar.html"}
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Tables Widget 9-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <div class="card-toolbar">
                        <a href="/admin/store/home" class="btn btn-sm btn-light-primary btn-app-create me-3"><i
                                    class="fa-duotone fa-regular fa-rectangle-history-circle-plus"></i>
                            安装更多插件
                        </a>
                        <button class="btn btn-sm btn-light-success plugin-start me-3"><i
                                    class="fa-duotone fa-regular fa-circle-play"></i>
                            <span>启动插件</span>
                        </button>
                        <button class="btn btn-sm btn-light-dark plugin-stop me-3"><i
                                    class="fa-duotone fa-regular fa-circle-stop"></i>
                            <span>停止插件</span>
                        </button>
                        <button class="btn btn-sm btn-light-success plugin-update-all me-3"><i class="fa-duotone fa-regular fa-sparkles"></i>
                            <span>一键更新全部插件</span>
                        </button>
                    </div>
                </div>
                <!--end::Header-->

                <div class="card-body py-3">
                    <table id="plugin-table" class="rowSameHeight"></table>
                </div>
            </div>

            <!--end::Tables Widget 9-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

#{ready("/assets/admin/controller/config/plugin.js")}
#{include file="../Footer.html"}