#{include file="../Header.html"}
<style>
    .layui-layer-page .layui-layer-content {
        position: relative !important;
        overflow: auto !important;
    }
</style>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    #{include file="../Toolbar.html"}
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Tables Widget 9-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-toolbar">
                        <a href="/admin/store/home" class="btn btn-sm btn-light-primary btn-app-create me-3"><i
                                class="fab fa-instalod"></i>
                            获取更多插件
                        </a>
                    </div>
                </div>
                <!--end::Header-->

                <div class="card-body py-3">
                    <table id="plugin" lay-filter="plugin"></table>
                </div>
            </div>

            <!--end::Tables Widget 9-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

<script>

    $(function () {
        layui.use(['hex'], function () {
            let table = $("#plugin");
            var cao = layui.hex;

            let queryParams = null;
            table.bootstrapTable({
                url: '/admin/api/plugin/getPlugins',//请求的url地址
                method: "post",//请求方式
                showRefresh: false,//是否显示刷新按钮
                cache: false,//是否使用缓存
                showToggle: false,//是否显示详细视图和列表视图的切换按钮
                cardView: false,
                pageNumber: 1,//初始化显示第几页，默认第1页
                singleSelect: false,//复选框只能选择一条记录
                sidePagination: 'server',//分页显示方式，可以选择客户端和服务端（server|client）
                contentType: "application/x-www-form-urlencoded",//使用post请求时必须加上
                dataType: "json",//接收的数据类型
                queryParamsType: 'limit',//参数格式，发送标准的Restful类型的请求
                queryParams: function (params) {
                    params.page = (params.offset / params.limit) + 1;
                    if (queryParams) {
                        for (const key in params) {
                            queryParams[key] = params[key];
                        }
                    } else {
                        queryParams = params;
                    }
                    return queryParams;
                },
                //回调函数
                responseHandler: function (res) {
                    return {
                        "total": res.count,
                        "rows": res.data
                    }
                },
                columns: [
                    {
                        field: 'name', title: '插件名称', formatter: function (val, item) {
                            return '<span class="badge badge-light-success">' + item.NAME + '</span>';
                        }
                    }
                    , {
                        field: 'website', title: '官方网站', formatter: function (val, item) {
                            return '<span class="badge badge-light-primary">' + item.WEB_SITE + '</span>';
                        }
                    }
                    , {
                        field: 'description', title: '简介', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.DESCRIPTION + '</span>';
                        }
                    }
                    , {
                        field: 'version', title: '版本号', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.VERSION + '</span>';
                        }
                    }
                    , {
                        field: 'author', title: '作者', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.AUTHOR + '</span>';
                        }
                    }
                    , {
                        field: 'status', title: '状态', formatter: function (val, item) {
                            if (item.PLUGIN_CONFIG && item.PLUGIN_CONFIG.STATUS == 1) {
                                return '<span class="badge badge-light-success">运行中</span>';
                            }

                            return '<span class="badge badge-light-danger">未启用</span>';
                        }
                    }
                    , {
                        field: 'operate',
                        title: '操作',
                        formatter: function (val, item) {
                            let html = "";
                            if (item.PLUGIN_CONFIG && item.PLUGIN_CONFIG.STATUS == 1) {
                                html += '<a style="cursor: pointer;"  class="badge badge-light text-danger disable"><i class="fa fa-stop-circle text-danger"></i> 停用</a>';
                            } else {
                                html += '<a style="cursor: pointer;"  class="badge badge-light text-success enable"><i class="fa fa-play-circle text-success"></i> 启用</a>';
                            }
                            html += '<a style="cursor: pointer;"  class="badge badge-light text-primary edit"><i class="fa fa-cog text-primary"></i> 配置</a>';
                            return html;
                        },
                        events: {
                            'click .edit': function (event, value, row, index) {
                                modal(row);
                            },
                            'click .disable': function (event, value, row, index) {
                                let loaderIndex = layer.load(2, {shade: ['0.3', '#fff']});
                                $.post("/admin/api/plugin/setConfig", {id: row.id, STATUS: 0}, res => {
                                    layer.close(loaderIndex);
                                    if (res.code == 200) {
                                        table.bootstrapTable('refresh', {silent: true});
                                    }
                                    layer.msg(res.msg);
                                });
                            },
                            'click .enable': function (event, value, row, index) {
                                let loaderIndex = layer.load(2, {shade: ['0.3', '#fff']});
                                $.post("/admin/api/plugin/setConfig", {id: row.id, STATUS: 1}, res => {
                                    layer.close(loaderIndex);
                                    if (res.code == 200) {
                                        table.bootstrapTable('refresh', {silent: true});
                                    }
                                    layer.msg(res.msg);
                                });
                            }
                        }
                    }
                ]
            });

            let modal = (values = {}) => {
                cao.popup('/admin/api/plugin/setConfig', values.PLUGIN_SUBMIT, res => {
                    table.bootstrapTable('refresh', {silent: true});
                }, values, "660px", false, "插件配置", () => {
                    if (cao.isPc()) {
                        if ($('.layui-layer-page').height() > 768) {
                            $('.layui-layer-content').css("height", "720px");
                        }
                    }
                });
            }
        });
    });
</script>

#{include file="../Footer.html"}