#{include file="../Header.html"}
<style>
    .layui-layer-page .layui-layer-content {
        position: relative !important;
        overflow: auto !important;
    }

    .rowSameHeight {
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    #{include file="../Toolbar.html"}
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Tables Widget 9-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-toolbar">
                        <a href="/admin/store/home" class="btn btn-sm btn-light-primary btn-app-create me-3"><i
                                    class="fab fa-instalod"></i>
                            获取更多插件
                        </a>
                    </div>
                </div>
                <!--end::Header-->

                <div class="card-body py-3">
                    <form class="search-query"></form>
                    <table id="plugin" lay-filter="plugin" class="rowSameHeight"></table>
                </div>
            </div>

            <!--end::Tables Widget 9-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

<script>

    $(function () {
        layui.use(['hex'], function () {
            let table = $("#plugin");
            var cao = layui.hex;
            let pluginUpdate = {
                items: null,
                updateNum: 0,
                init() {
                    if (!this.items) {
                        let items = localStorage.getItem("pluginVersions");
                        if (items) {
                            this.items = JSON.parse(items);
                        } else {
                            this.items = {};
                        }
                    }
                },
                getPlugin(key) {
                    this.init();
                    if (!this.items || !this.items.hasOwnProperty(key)) {
                        return null;
                    }
                    return this.items[key];
                },
                renderButton(key, version) {
                    let plugin = this.getPlugin(key);
                    if (!plugin) {
                        return "";
                    }
                    if (version != plugin.version) {
                        this.updateNum++;

                        $('#updateNum').html('<b style="color:red;">[' + this.updateNum + ']个插件需要更新</b>');

                        return ' <span style="cursor: pointer;" class="badge badge-light-success updatePlugin">更新->' + plugin.version + '</span>';
                    }
                    return "";
                }
            }


            let queryParams = null;
            table.bootstrapTable({
                url: '/admin/api/plugin/getPlugins',//请求的url地址
                method: "post",//请求方式
                showRefresh: false,//是否显示刷新按钮
                cache: false,//是否使用缓存
                showToggle: false,//是否显示详细视图和列表视图的切换按钮
                cardView: false,
                pageNumber: 1,//初始化显示第几页，默认第1页
                singleSelect: false,//复选框只能选择一条记录
                sidePagination: 'server',//分页显示方式，可以选择客户端和服务端（server|client）
                contentType: "application/x-www-form-urlencoded",//使用post请求时必须加上
                dataType: "json",//接收的数据类型
                queryParamsType: 'limit',//参数格式，发送标准的Restful类型的请求
                queryParams: function (params) {
                    params.page = (params.offset / params.limit) + 1;
                    if (queryParams) {
                        for (const key in params) {
                            queryParams[key] = params[key];
                        }
                    } else {
                        queryParams = params;
                    }
                    return queryParams;
                },
                //回调函数
                responseHandler: function (res) {
                    pluginUpdate.updateNum = 0;
                    return {
                        "total": res.count,
                        "rows": res.data
                    }
                },
                columns: [
                    {
                        field: 'plugin_name', title: '插件名称', formatter: function (val, item) {
                            return '<span class="badge badge-light-dark"><img src="' + item.icon + '"  style="width: 18px;border-radius: 5px;margin-top: -2px"/> ' + item.NAME + '</span> '
                        }
                    }
                    , {
                        field: 'status', title: '状态', formatter: function (val, item) {
                            if (item.PLUGIN_CONFIG && item.PLUGIN_CONFIG.STATUS == 1) {
                                return '<span class="badge badge-light-success plugin-state" data-id="' + item.id + '">运行中</span>';
                            }

                            return '<span class="badge badge-light-danger plugin-state" data-id="' + item.id + '">未启用</span>';
                        }
                    }
                    , {
                        field: 'operate',
                        title: '控制',
                        formatter: function (val, item) {
                            let html = '';
                            if (item.PLUGIN_CONFIG && item.PLUGIN_CONFIG.STATUS == 1) {
                                html += '<a style="cursor: pointer;"  class="badge badge-light text-danger disable"><i class="fa fa-stop-circle text-danger"></i> 停用</a>';
                            } else {
                                html += '<a style="cursor: pointer;"  class="badge badge-light text-success enable"><i class="fa fa-play-circle text-success"></i> 启用</a>';
                            }
                            if (item.hasOwnProperty('PLUGIN_SUBMIT') && item.PLUGIN_SUBMIT.length > 0) {
                                html += '<a style="cursor: pointer;"  class="badge badge-light text-primary edit"><i class="fa fa-cog text-primary"></i> 配置</a>';
                            }
                            return html;
                        },
                        events: {
                            'click .edit': function (event, value, row, index) {
                                modal(row);
                            },
                            'click .disable': function (event, value, row, index) {
                                let loaderIndex = layer.load(2, {shade: ['0.3', '#fff']});
                                $.post("/admin/api/plugin/setConfig", {id: row.id, STATUS: 0}, res => {
                                    layer.close(loaderIndex);
                                    if (res.code == 200) {
                                        table.bootstrapTable('refresh', {silent: true});
                                        $('.plugin-state[data-id=' + row.id + ']').removeClass("badge-light-success").addClass("badge-light-danger").html("已停止");
                                    }
                                    layer.msg(res.msg);
                                });
                            },
                            'click .enable': function (event, value, row, index) {
                                let loaderIndex = layer.load(2, {shade: ['0.3', '#fff']});
                                $.post("/admin/api/plugin/setConfig", {id: row.id, STATUS: 1}, res => {
                                    layer.close(loaderIndex);
                                    if (res.code == 200) {
                                        table.bootstrapTable('refresh', {silent: true});
                                        $('.plugin-state[data-id=' + row.id + ']').removeClass("badge-light-danger").addClass("badge-light-success").html("已启动");
                                    }
                                    layer.msg(res.msg);
                                });
                            },
                        }
                    }
                    , {
                        field: 'description', title: '简介', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.DESCRIPTION + '</span>';
                        }
                    }
                    , {
                        field: 'website', title: '官方网站', formatter: function (val, item) {
                            return '<span class="badge badge-light-primary">' + item.WEB_SITE + '</span>';
                        }
                    }
                    , {
                        field: 'wiki', title: '文档手册', formatter: function (val, item) {
                            if (!item.wiki) {
                                return '-';
                            }
                            return '<a class="badge badge-light-primary" href="' + item.wiki + '" target="_blank">查看文档</a>';
                        }
                    }
                    , {
                        field: 'version', title: '<span id="updateNum">版本号</span>', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.VERSION + '</span>' + pluginUpdate.renderButton(item.id, item.VERSION);
                        }
                        ,
                        events: {
                            'click .updatePlugin': function (event, value, row, index) {
                                let plugin = pluginUpdate.getPlugin(row.id);

                                if (!plugin) {
                                    layer.msg("初始化更新失败，请刷新页面重试");
                                    return;
                                }

                                layer.confirm(plugin.update_content.replace(/\n/, "<br>"), {
                                    btn: ['立即更新', '取消'],
                                    title: "更新插件 -> " + '<span style="color: red;">' + row.NAME + '</span>'
                                }, function () {
                                    let layIndex = layer.load(1, {shade: [0.3, '#fff']});
                                    $.post('/admin/api/app/upgrade', {
                                        plugin_key: row.id,
                                        type: plugin.type,
                                        plugin_id: plugin.id
                                    }, res => {
                                        layer.close(layIndex);
                                        layer.msg(res.msg);
                                        if (res.code == 200) {
                                            window.location.reload();
                                        }
                                    });
                                });
                            }
                        }
                    }

                    , {
                        field: 'author', title: '作者', formatter: function (val, item) {
                            return '<span class="badge badge-light">' + item.AUTHOR + '</span>';
                        }
                    }

                    , {
                        field: 'more',
                        title: '更多',
                        formatter: function (val, item) {
                            let html = '<a  class="badge badge-light text-success log" style="cursor: pointer;"><i class="far fa-clipboard text-success"></i> 日志</a> ';
                            html += '<a style="cursor: pointer;"  class="badge badge-light uninstall"><i class="fas fa-trash-alt"></i> 卸载</a>';
                            return html;
                        },
                        events: {
                            'click .uninstall': function (event, value, row, index) {
                                layer.confirm('你想要卸载 <span style="color: red;"> ' + row.NAME + " </span>吗，这将清空该插件的所有数据，并且无法恢复？", {
                                    btn: ['卸载', '取消'],
                                    title: "卸载插件"
                                }, function () {
                                    let layIndex = layer.load(1, {shade: [0.3, '#fff']});
                                    $.post('/admin/api/app/uninstall', {
                                        plugin_key: row.id,
                                        type: 0
                                    }, res => {
                                        layer.close(layIndex);
                                        layer.msg(res.msg);
                                        if (res.code == 200) {
                                            table.bootstrapTable('refresh', {silent: true});
                                        }
                                    });
                                });
                            },
                            'click .log': function (event, value, row, index) {
                                let mapItem = row;
                                console.log(mapItem)
                                $.post('/admin/api/plugin/getPluginLog', {handle: mapItem.id}, res => {
                                    if (res.code != 200) {
                                        layer.msg(res.msg);
                                        return;
                                    }
                                    layer.open({
                                        type: 1,
                                        shade: 0.4,
                                        shadeClose: true, //开启遮罩关闭
                                        title: '<i class="fas fa-robot" style="color: #f16a8b;"></i> 日志', //不显示标题
                                        btn: ["清空日志", "关闭"],
                                        content: '<textarea class="log-textarea" style="width: 100%;height: 100%;border: none;color: grey;padding: 5px;">' + res.data.log + '</textarea>',
                                        area: cao.isPc() ? ["860px", "660px"] : ["100%", "100%"],
                                        maxmin: true,
                                        yes: (index, layero) => {
                                            $.post('/admin/api/plugin/ClearPluginLog', {handle: mapItem.id}, res => {
                                                layer.msg("日志已清空");
                                            });
                                        },
                                        success: (layero, index) => {
                                            this.timer = setInterval(() => {
                                                $.post('/admin/api/plugin/getPluginLog', {handle: mapItem.id}, res => {
                                                    if (res.data.log != $('.log-textarea').html()) {
                                                        $('.log-textarea').html(res.data.log);
                                                    }
                                                });
                                            }, 1500);
                                        },
                                        end: () => {
                                            clearInterval(this.timer);
                                        }
                                    });
                                });
                            }
                        }
                    }

                ]
            });

            let modal = (values = {}) => {
                cao.popup('/admin/api/plugin/setConfig', values.PLUGIN_SUBMIT, res => {
                    table.bootstrapTable('refresh', {silent: true});
                }, values, "660px", false, "插件配置", () => {
                    if (cao.isPc()) {
                        if ($('.layui-layer-page').height() > 768) {
                            $('.layui-layer-content').css("height", "720px");
                        }
                    }
                });
            }


            cao.query('.search-query', table, [
                {title: "搜索插件..", name: "keywords", type: "input"},
                {
                    title: "运行状态", name: "status", type: "select", dict: [
                        {id: 0, name: "未运行"},
                        {id: 1, name: "正在运行"}
                    ]
                }
            ], true, false);
        });
    });
</script>

#{include file="../Footer.html"}