</div>
</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::Root-->

<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true"><i class="fa-duotone fa-regular fa-arrow-up text-white"></i></div>

#{js(
[
"/assets/common/js/_.js",
"/assets/admin/js/_admin.js"
],
[
"/assets/common/js/util/dict.js",
"/assets/common/js/jquery.min.js",
"/assets/common/js/toastr.min.js",
"/assets/common/js/component/loading.js",
"/assets/common/js/util.js",
"/assets/common/js/layer/layer.js",
"/assets/common/js/jquery.pjax.min.js",
"/assets/common/js/jquery.qrcode.min.js",
"/assets/common/js/format.js",
"/assets/common/js/message.js",
"/assets/common/js/component.js",
"/assets/common/js/layui/layui.js",
"/assets/common/js/jquery.treegrid.min.js",
"/assets/common/js/bootstrap/bootstrap.bundle.min.js",
"/assets/common/js/table/bootstrap-table.min.js",
"/assets/common/js/table/bootstrap-table-treegrid.min.js",
"/assets/common/js/component/form.js",
"/assets/common/js/component/search.js",
"/assets/common/js/component/xm-select.js",
"/assets/common/js/component/tree.select.js",
"/assets/common/js/component/authtree.js",
"/assets/common/js/component/table.js",
"/assets/common/js/component/select2.min.js",
"/assets/common/js/cache.js",
"/assets/common/js/editor/editor.js",
"/assets/common/js/editor/code/code.js",
"/assets/common/js/component/decimal.js",
"/assets/admin/js/dict.js",
"/assets/admin/js/menu.js",
"/assets/admin/controller/global.js"
])}

<!--start::HOOK-->
#{hook(\App\Consts\Hook::ADMIN_VIEW_BODY)}
<!--end::HOOK-->
</body>
<!--end::Body-->
<!--start::HOOK-->
#{hook(\App\Consts\Hook::ADMIN_VIEW_FOOTER)}
<!--end::HOOK-->
</html>