<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <title>#{$title}-#{$config.title}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>

    #{css(
    [
    "/assets/admin/css/_admin.css",
    "/assets/common/css/_.css"
    ],
    [
    "/assets/admin/css/style.bundle.css",
    "/assets/common/css/font.min.css",
    "/assets/common/js/layui/css/layui.css",
    "/assets/common/css/select2.min.css",
    "/assets/common/css/component.css",
    "/assets/common/css/toastr.min.css",
    "/assets/common/js/table/bootstrap-table.css",
    "/assets/common/js/layer/theme/default/layer.css"
    ])}

    #{js("/assets/common/js/ready.js")}

    #{admin_var()}
    <!--start::HOOK-->
    #{hook(\App\Consts\Hook::ADMIN_VIEW_HEADER)}
    <!--end::HOOK-->
</head>

<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px;background: url('#{$config.background_url}') fixed no-repeat;background-size: cover;">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <div id="kt_aside" class="aside aside-light aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside"
             data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
             data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
             data-kt-drawer-toggle="#kt_aside_mobile_toggle">
            <!--begin::Brand-->
            <div class="aside-logo flex-column-auto" id="kt_aside_logo">
                <!--begin::Logo-->
                <a href="/admin/dashboard/index" class="d-flex align-items-center">
                    <img style="border-radius: 50%;height: 22px;" src="/favicon.ico">
                    <span class="logo fw-bolder ms-2 fs-4" style="color: pink;">#{$config.shop_name}</span>
                </a>
                <!--end::Logo-->
                <!--begin::Aside toggler-->
                <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle"
                     data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
                     data-kt-toggle-name="aside-minimize">
                    <span class="svg-icon svg-icon-1 rotate-180">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
									<path opacity="0.5"
                                          d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z"
                                          fill="black"/>
									<path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z"
                                          fill="black"/>
								</svg>
							</span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Aside toggler-->
            </div>
            <!--end::Brand-->
            <!--begin::Aside menu-->
            <div class="aside-menu flex-column-fluid">
                <!--begin::Aside Menu-->
                <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" style="overflow-x: hidden;"
                     data-kt-scroll="true"
                     data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
                     data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
                     data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
                    <!--begin::Menu-->
                    <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
                         id="#kt_aside_menu" data-kt-menu="true">
                        <div class="menu-item">
                            <div class="menu-content pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">Main</span>
                            </div>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link #{if $title == '控制台'}active#{/if}" href="/admin/dashboard/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-house"></i></span>
                                <span class="menu-title">控制台</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <div class="menu-content pt-8 pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">User</span>
                            </div>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '会员管理'}active#{/if}" href="/admin/user/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-user-group-crown"></i></span>
                                <span class="menu-title">会员管理</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '充值订单'}active#{/if}" href="/admin/recharge/order">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-messages-dollar"></i></span>
                                <span class="menu-title">充值订单</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '账单管理'}active#{/if}" href="/admin/user/bill">
                                <span class="menu-icon"><i
                                            class="fa-duotone fa-regular fa-file-invoice-dollar"></i></span>
                                <span class="menu-title">账单管理</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '会员等级'}active#{/if}" href="/admin/user/group">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-people-group"></i></span>
                                <span class="menu-title">会员等级</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '商户等级'}active#{/if}"
                               href="/admin/user/businessLevel">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-users-medical"></i></span>
                                <span class="menu-title">商户等级</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '提现管理'}active#{/if}" href="/admin/cash/index">
                                <span class="menu-icon"><i
                                            class="fa-duotone fa-regular fa-money-bill-transfer"></i></span>
                                <span class="menu-title">提现管理</span>
                            </a>
                        </div>


                        <div class="menu-item">
                            <div class="menu-content pt-8 pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">Trade</span>
                            </div>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '分类管理'}active#{/if}" href="/admin/category/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-layer-group"></i></span>
                                <span class="menu-title">分类管理</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '商品管理'}active#{/if}" href="/admin/commodity/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-business-time"></i></span>
                                <span class="menu-title">商品管理</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '卡密管理'}active#{/if}" href="/admin/card/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-cards-blank"></i></span>
                                <span class="menu-title">卡密管理</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '优惠卷'}active#{/if}" href="/admin/coupon/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-tickets-simple"></i></span>
                                <span class="menu-title">优惠卷</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '商品订单'}active#{/if}" href="/admin/order/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-cart-flatbed"></i></span>
                                <span class="menu-title">商品订单</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <div class="menu-content pt-8 pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">Shared</span>
                            </div>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '店铺共享'}active#{/if}" href="/admin/store/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-link"></i></span>
                                <span class="menu-title">店铺共享</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <div class="menu-content pt-8 pb-2">
                                <span class="menu-section text-muted text-uppercase fs-8 ls-1">Config</span>
                            </div>
                        </div>

                        <div class="menu-item">
                            <a class="menu-link  #{if in_array($title, ["网站设置" , "短信设置" , "邮箱设置" , "其他设置"])}active#{/if}"
                               href="/admin/config/index">
                                <span class="menu-icon"><i class="fa-duotone fa-regular fa-gear"></i></span>
                                <span class="menu-title">网站设置</span>
                            </a>
                        </div>

                        #{if $user.type == 0 || $user.type == 1}
                            <div class="menu-item">
                                <a class="menu-link  #{if $title == '管理员'}active#{/if}" href="/admin/manage/index">
                                    <span class="menu-icon"><i
                                                class="fa-duotone fa-regular fa-user-beard-bolt"></i></span>
                                    <span class="menu-title">管理员</span>
                                </a>
                            </div>
                        #{/if}

                        <div class="menu-item">
                            <a class="menu-link  #{if $title == '通用插件'}active#{/if}" href="/admin/plugin/index">
                                <span class="menu-icon"><i
                                            class="fa-duotone fa-regular fa-puzzle-piece-simple"></i></span>
                                <span class="menu-title">通用插件</span>
                            </a>
                        </div>

                        <div data-kt-menu-trigger="click"
                             class="menu-item menu-accordion #{if in_array($title,['支付插件','支付设置'])} here show #{/if}">
									<span class="menu-link">
										<span class="menu-icon"><i class="fa-duotone fa-regular fa-message-dollar"></i></span>
										<span class="menu-title">支付管理</span>
										<span class="menu-arrow"></span>
									</span>
                            <div class="menu-sub menu-sub-accordion menu-active-bg">
                                <div class="menu-item">
                                    <a class="menu-link #{if $title == '支付插件'}active#{/if}"
                                       href="/admin/pay/plugin">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
                                        <span class="menu-title">支付插件</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link #{if $title == '支付设置'}active#{/if}" href="/admin/pay/index">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
                                        <span class="menu-title">支付接口</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        #{if $user.type == 0}
                            <div class="menu-item">
                                <a class="menu-link  #{if $title == '操作日志'}active#{/if}" href="/admin/log/index">
                                    <span class="menu-icon"><i class="fa-duotone fa-regular fa-scanner-gun"></i></span>
                                    <span class="menu-title">操作日志</span>
                                </a>
                            </div>
                        #{/if}


                        #{if getHookNum(\App\Consts\Hook::ADMIN_VIEW_MENU) > 0}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Plugin</span>
                                </div>
                            </div>
                        #{/if}
                        <!--start::HOOK-->
                        #{hook(\App\Consts\Hook::ADMIN_VIEW_MENU)}
                        <!--end::HOOK-->


                        <div class="menu-item">
                            <div class="menu-content">
                                <div class="separator mx-1 my-4"></div>
                            </div>
                        </div>
                        <div class="menu-item">
                            <a class="menu-update">
										<span class="menu-icon">
											<i class="fa-duotone fa-regular fa-code"></i>
										</span>
                                <span class="menu-title latest-update" style="font-size: 12px;"><span
                                            class="local-version">#{$app.version}</span> <b style="margin-left: 5px;"
                                                                                            class="latest-version"></b></span>
                            </a>
                        </div>
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Aside Menu-->
            </div>
            <!--end::Aside menu-->
        </div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" style="" class="header align-items-stretch">
                <!--begin::Container-->
                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                    <!--begin::Aside mobile toggle-->
                    <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
                        <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
                             id="kt_aside_mobile_toggle">
                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                            <span class="svg-icon svg-icon-2x">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
											<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
                                                  fill="black"/>
											<path opacity="0.3"
                                                  d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
                                                  fill="black"/>
										</svg>
									</span>
                            <!--end::Svg Icon-->
                        </div>
                    </div>
                    <!--end::Aside mobile toggle-->
                    <!--begin::Mobile logo-->
                    <div class="align-items-center flex-grow-1 flex-lg-grow-0 d-hide show-mobile">
                        <a href="/admin/dashboard/index"><img height="25px" style="border-radius: 50%;"
                                                              src="/favicon.ico"></a>
                    </div>
                    <!--end::Mobile logo-->
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!--begin::Navbar-->
                        <div class="d-flex align-items-stretch" id="kt_header_nav">
                            <!--begin::Menu wrapper-->
                            <div class="header-menu">
                                #{if $_store_initialize}
                                    <!--begin::Menu-->
                                    <div class="menu me-4 menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">
                                        <div class="menu-item me-lg-1 app-store app-store-main">
                                            <a class="a-badge a-badge-success" href="/admin/store/home"><i
                                                        class="fa-duotone fa-regular fa-splotch"></i> 应用商店</a>
                                            <select class="app-server-select">
                                                <option value="0" #{if $app.server == 0} selected #{/if}>节点:腾讯云
                                                </option>
                                                <option value="3" #{if $app.server == 3} selected #{/if}>节点:阿里云
                                                </option>
                                                <option value="1" #{if $app.server == 1} selected #{/if}>节点:抖音
                                                </option>
                                            </select>

                                            <div class="store-text"></div>
                                        </div>
                                    </div>
                                #{else}
                                    <div class="menu me-4 menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">
                                        <div class="menu-item me-lg-1 app-store"><a class="py-3 text-danger fw-bold"
                                                                                    href="javascript:layer.msg('您已离线，无法再使用应用商店。');"><i
                                                        class="fas fa-plug text-danger"></i> 离线版
                                            </a></div>
                                    </div>
                                #{/if}
                                <!--end::Menu-->
                                <!--start::HOOK-->
                                #{hook(\App\Consts\Hook::ADMIN_VIEW_NAV)}
                                <!--end::HOOK-->

                            </div>
                            <!--end::Menu wrapper-->
                        </div>
                        <!--end::Navbar-->
                        <!--begin::Topbar-->
                        <div class="d-flex align-items-stretch flex-shrink-0">
                            <!--begin::Toolbar wrapper-->
                            <div class="d-flex align-items-stretch flex-shrink-0">
                                <!--begin::User-->
                                <div class="d-flex align-items-center ms-1 ms-lg-3">
                                    <!--begin::Menu wrapper-->
                                    <a href="/admin/manage/set">
                                        <div class="cursor-pointer symbol symbol-30px symbol-md-40px"
                                             data-kt-menu-trigger="click" data-kt-menu-attach="parent"
                                             data-kt-menu-placement="bottom-end">
                                            <img src="#{if $user.avatar}#{$user.avatar}#{else}/favicon.ico#{/if}"
                                                 alt="user"/>
                                        </div>
                                    </a>
                                    <!--end::Menu wrapper-->
                                </div>
                                <!--end::User -->
                            </div>
                            <!--end::Toolbar wrapper-->
                        </div>
                        <!--end::Topbar-->

                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <div id="pjax-container">